In [1]:
import pandas as pd 
df=pd.DataFrame({'A':[1,2,2,3,4,5,5,5,6,7,7]})

In [2]:
df

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 10), columns=list('ABCDEFGHIJ'))

In [11]:
df

,A,B,C,D,E,F,G,H,I,J
0,-1.041914,-0.463389,-0.682068,2.032597,-0.684771,0.882686,-0.423022,0.780366,0.610765,0.317877
1,0.325482,-2.364427,1.369201,-2.721392,0.357878,-0.508283,-0.273596,0.835235,1.615089,-0.510925
2,0.737002,1.773057,-1.490583,-1.271911,0.834643,-0.185935,-0.273850,-0.951543,0.213856,-1.134110
3,-0.155163,1.260127,-0.831776,0.157517,1.702573,-0.364971,-1.047587,0.276504,0.070172,1.656268
4,0.308461,-1.068074,-2.837557,-0.151739,-1.003878,0.641580,0.805110,-0.774497,-0.048240,0.624587

In [14]:
items = [1, 2, 3, 4, 5,6,7,8,9,10]
squared = list(map(lambda x: x**2, items))

In [15]:
squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]